@{
    ViewData["Title"] = "Home Page";
}

<header>
    <h2>Nhóm Đóm Chúa</h2>
</header>

<section>
    <nav>
        <ul>
            <li><a href="~/trang-chu">Bản thân</a></li>
            <li><a href="~/gioi-thieu-nhom">Nhóm</a></li>      
        </ul>
    </nav>

    <article>
        <h1>NGUYỄN HOÀNG ĐĂNG KHOA</h1>
    </article>
</section>

<footer>
    <p>Copyright &copy; - @DateTime.Now.Year</p>
</footer>